<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CINEPLUS</title>
</head>
<body>
    <h1>CINEPLUS</h1>

    {% if reseñas %}
        <ul>
            {% for reseña in reseñas %}
                <li>
                    <h2>{{ reseña.titulo }}</h2>
                    <p>{{ reseña.descripcion|truncatewords:20 }}</p> <!-- Muestra un resumen corto -->
                    <a href="{% url 'detalle_reseña' reseña.id %}">Ver detalles</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay reseñas disponibles.</p>
    {% endif %}

</body>
</html>